* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b1919;
}

.container {
    width: 70%;
    padding: 50px 0;
    background: #1b1919;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    text-align: center;
}

.bar {
    background: #b6b6b6;
    width: 90%;
    height: 50px;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 50px;
}

.fill {
    width: 1px;
    height: 100%;
    background: linear-gradient(45deg, #f00144, #fd5900);
}

.counter {
    font-weight: 500;
    font-size: 40px;
    font-family: monospace;
    color: #f00144;
    padding: 5px 0;
}

button {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    font-family: monospace;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #f00144;
    outline: none;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    background: #000;
}

.output {
    width: 50%;
    padding: 30px 0;
    background-color: #1b1919;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    text-align: center;
    color: #f00144;
    display: none;
}